ul li {
  display: inline-block;
  margin: 0 20px;
}
ul li a {
  text-decoration: none;
  color: #000;
  padding: 10px;
}
ul li a:hover {
  background-color: lightblue;
}

.active {
  background-color: lightblue;
}

header {
  text-align: center;
}

.bg-image {
  background-image: url("../images/fondo-pag-speciali.jpg");
  padding: 20px 0;
}

.bg-blue {
  background-color: lightblue;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 80%;
}
.row .card {
  width: calc(25% - 5px);
  margin: 0 2.5px;
  background-color: #fff;
  margin-bottom: 10px;
  text-align: center;
}
.row .card .pasta-img {
  width: 100%;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.text-center {
  text-align: center;
}