@import './variabili';

ul{
    li{
      display: inline-block;
      margin: 0 20px;
      a{
          text-decoration: none;
          color: $text-black;
          padding: 10px;
          &:hover{
            background-color: lightblue;
          }
      }
    }
}

.active{
    background-color: lightblue;
}
